[Unit]
Description=HA Bridge
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ihb/habridge
ExecStart=/usr/bin/java -jar ha-bridge-3.5.1.jar
Restart=always
User=root

[Install]
WantedBy=multi-user.target
