[Unit]
Description=HA Bridge
After=network-online.target

[Service]
Type=simple
WorkingDirectory=/home/pi/ihab/habridge
ExecStart=/usr/bin/java -jar ha-bridge.jar
Restart=always
User=root

[Install]
WantedBy=multi-user.target
